<link rel="stylesheet" href="/css/global.css">
<link rel="stylesheet" href="/css/relacionPC.css">


<div id="fondo" class="showDelay mt-4" stylea="padding: 10px; border:2px black solid">
    <div class="container-fluid">
        <div class="row" style="justify-content: center;">
            <!-------------------------------CLIENTE------------------------------------>
            <!------------------------------------------------------------------------->
            <div class="col-12 col-md-4  contenedor contenedorIzquierdo">
                <!--TABLA CLIENTES-->
                <div class="form-group">
                    <label class="form-label mt-2 labelsColor" for="Datos-Identificacion">Ruc/Cédula:</label>
                    <div class="input-group">
                        <input type="search" id="Datos-Identificacion" class="form-control form-input respIdentificacionLabel" name="Identificacion" 
                                            placeholder="Identificacion" minlength="1"maxlength="15" style="width: auto">
                        <button class="btn btn-info " type="button" id="btn-BuscarCliente" >Buscar</button>
                    </div>
                    <div class="invalid-feedback">Texto incorrecto!</div>
                </div>

                <label id="empresaApellidoLabel" class="form-label mt-3 labelsColor" for="Datos-NoEmpresa">Datos de cliente</label>
                <div class="form-group formGroupBorder " >

                    <div class="form-group row">
                        <label for="staticIdentificacion" class="col-sm-2 col-form-label">Id</label>
                        <div class="col-sm-10">
                            <input type="text" readonly="" class="form-control-plaintext" id="staticIdentificacion" value="0">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="staticLastName" class="col-sm-2 col-form-label">Apellidos</label>
                        <div class="col-sm-10">
                            <input type="text" readonly="" class="form-control-plaintext" id="staticLastName" value="Carangui Herrera">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="staticName" class="col-sm-2 col-form-label">Nombres</label>
                        <div class="col-sm-10">
                            <input type="text" readonly="" class="form-control-plaintext" id="staticName" value="Alex Fernando">
                        </div>
                    </div>

                </div>

            </div>

            
            <!-------------------------------PLACA------------------------------------>
            <!------------------------------------------------------------------------->
            <div class="col-12 col-md-4 contenedor">
                <!--TABLA PLACAS-->
                <div class="form-group">
                    <label class="form-label mt-2 labelsColor" for="Datos-Placa">Placa:</label>
                    <div class="input-group">
                        <input type="search" id="Datos-Placa" class="form-control form-input respPlacaLabel" name="Placa" 
                                            placeholder="Placa" minlength="1"maxlength="15" style="width: auto">
                        <button class="btn btn-info " type="button" id="btn-BuscarPlaca" >Buscar</button>
                    </div>
                    <div class="invalid-feedback">Texto incorrecto!</div>
                </div>

                <label id="VehiculoLabel" class="form-label mt-3 labelsColor" for="Datos-Vehiculo">Datos de vehiculo</label>
                <div class="form-group formGroupBorder " >
                    <div class="form-group row">
                        <label for="staticPlaca" class="col-sm-2 col-form-label">Placa</label>
                        <div class="col-sm-10">
                            <input type="text" readonly="" class="form-control-plaintext" id="staticPlaca" value="GHB0123">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticMark" class="col-sm-2 col-form-label">Marca</label>
                        <div class="col-sm-10">
                            <input type="text" readonly="" class="form-control-plaintext" id="staticMarca" value="Chevrolet">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="staticModel" class="col-sm-2 col-form-label">Modelo</label>
                        <div class="col-sm-10">
                            <input type="text" readonly="" class="form-control-plaintext" id="staticModel" value="Aveo 2.0 2008 TM">
                        </div>
                    </div>
                </div> 
            </div>

            <div class="col-12 col-md-8 text-center">
                <button class="btn btnColor" style="margin-top: 10px;margin-bottom: 10px; "
                id="btn-Relacionar">Nueva relacion</button>
            </div>
            
            
            
            
            
            <!-------------------------------TABLAS------------------------------------>
            <!------------------------------------------------------------------------->
            <div class="col-12 col-md-8 tablaPrincipal">
                
                    <div class="card text-white " style="height: 100%;">
                    <div class="card-header d-flex justify-content-between align-items-center" style="padding: 0;padding-top: 3px;padding-bottom: 3px;">
                        <h5 id="tituloHeaderRelacion" style="margin-left: 10px;margin-top: 5px; ">Tabla Relacional</h5>
                    </div>
                    
                    <div class="card-body tablaModeloBodys">
                        <div class="diseñoTablaGrid" style="height:500px">
                                <div id="myGridRelacion" class="ag-theme-alpine-dark" style="height: 100%"></div>
                        </div>
                    </div>
                </div>
                
            </div>




            <button id="btnPrueba" style="display:none">Prueba</button>
        
        
        
            <div class="firma" style="display: none;">
                <figure>
                    <figcaption class="blockquote-footer">
                Developed by <cite title="Source Title">Alex Carangui</cite>
                </figcaption>
                </figure>   
                
            </div>


        </div>


    <div id="myModal" class="modal">
        <div class="card border-light mb-3 modal-content">
            <div id="'modalHeader" class="card-header d-flex justify-content-between align-items-center">
                <h5 id="tituloHeader">Nuevo</h5>
                <button id="cancelar1" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modalBody" class="card-body justify-content-center align-items-center text-align-center">
                <!--input o texto p-->
                <div id="divBotones" class="d-flex justify-content-center">
                    <button class="btn btnColor modal-button" id="confirmar">Nueva Marca</button>
                    <button class="btn btnColor modal-button" id="cancelar">Cancelar</button>
                </div>
            </div>
        </div>

    </div>


</div>

<!--                                                            ANIMACION DE BOTON                                                -->

<div id="circulo" class="circuloOrig"></div>
<div id="pin" class="wait"></div>


<script src="../js/relaciones/relacionPC.js"></script>
<!--<script src="../js/Validaciones/validacion.producto.js"></script>-->













