<link rel="stylesheet" href="/css/global.css">
<link rel="stylesheet" href="/css/relacionPC.css">


<div id="fondo" class="showDelay mt-4" stylea="padding: 10px; border:2px black solid">
    <div class="container-fluid" style=" max-width: 1800px">
        <div class="row" style="justify-content: center;">
            <!-------------------------------CLIENTE------------------------------------>
            <!------------------------------------------------------------------------->
            <div class="col-12 col-md-4  contenedor contenedorIzquierdo">
                <div class="card">
                    <!--CARD CLIENTES-->
                    <h5 class="card-header">Cliente</h5>
                    <div id="card-body-cliente" class="card-body form-group">
                        <label class="form-label mt-2 labelsColor" for="Datos-Identificacion">Ruc/Cédula:</label>
                        <div class="input-group">
                            <input type="search" id="Datos-Identificacion" class="form-control form-input respIdentificacionLabel" name="Identificacion" 
                                                placeholder="Identificacion" minlength="1"maxlength="15" style="width: auto">
                            <button class="btn btn-info " type="button" id="btn-BuscarCliente" >Buscar</button>
                        </div>
                        <div class="invalid-feedback">Texto incorrecto!</div>
                        <hr>
                        <div class="form-group d-flex" >
                            <label for="staticIdentificacion" class="col-sm-2 col-form-label"style="min-width:102px">Id</label>
                            <div class="col-sm-10">
                                <input type="text" readonly="" class="form-control-plaintext" id="staticIdentificacion" value="0">
                            </div>
                        </div>

                        <div class="form-group d-flex" >
                            <label for="staticLastName" class="col-sm-2 col-form-label"style="min-width:102px">Apellidos</label>
                            <div class="col-sm-10">
                                <input type="text" readonly="" class="form-control-plaintext" id="staticLastName" value="_">
                            </div>
                        </div>

                        <div class="form-group d-flex" >
                            <label for="staticName" class="col-sm-2 col-form-label"style="min-width:102px">Nombres</label>
                            <div class="col-sm-10">
                                <input type="text" readonly="" class="form-control-plaintext" id="staticName" value="_">
                            </div>
                        </div>


                    </div>

                </div>
                
            </div>

            

            
            <!-------------------------------PLACA------------------------------------>
            <!------------------------------------------------------------------------->
            <div class="col-12 col-md-4 contenedor">
                <div class="card">
                    <!--CARD PLACAS-->
                    <h5 class="card-header">Vehiculo</h5>
                    <div id="card-body-placa" class="card-body form-group">
                        <label class="form-label mt-2 labelsColor" for="Datos-Placa">Placa:</label>
                        <div class="input-group">
                            <input type="search" id="Datos-Placa" class="form-control form-input respPlacaLabel" name="Placa" 
                                                placeholder="Placa" minlength="1"maxlength="15" style="width: auto">
                            <button class="btn btn-info " type="button" id="btn-BuscarPlaca" >Buscar</button>
                        </div>
                        <div class="invalid-feedback">Texto incorrecto!</div>
                        <hr>

                        <div class="form-group d-flex">
                            <label for="staticPlaca" class="col-sm-2 col-form-label"style="min-width:86px">Placa</label>
                            <div class="col-sm-10">
                                <input type="text" readonly="" class="form-control-plaintext" id="staticPlaca" value="_">
                            </div>
                        </div>
                        
                        <div class="form-group d-flex">
                            <label for="staticMark" class="col-sm-2 col-form-label"style="min-width:86px">Marca</label>
                            <div class="col-sm-10">
                                <input type="text" readonly="" class="form-control-plaintext" id="staticMarca" value="_">
                            </div>
                        </div>

                        <div class="form-group d-flex">
                            <label for="staticModel" class="col-sm-2 col-form-label"style="min-width:86px">Modelo</label>
                            <div class="col-sm-10 textoYCuadro">
                                <input type="text" readonly="" class="form-control-plaintext" id="staticModel" value="_">
                                <div id="cuadradoColor" class="cuadrado-color" title="Color del vehiculo"></div>
                            </div>
                        </div>
                    </div>

                    
                        
                    
                </div>
                
            </div>

            <div class="col-12 col-md-8 text-center">
                <button class="btn btnColor" style="margin-top: 10px;margin-bottom: 10px; "
                id="btn-Relacionar">Nueva relacion</button>
            </div>
            
            
            
            
            
            <!-------------------------------TABLAS------------------------------------>
            <!------------------------------------------------------------------------->
            <div class="col-12 col-md-8 tablaPrincipal">
                
                    <div class="card text-white " style="height: 100%;">
                    <div class="card-header d-flex justify-content-between align-items-center" style="padding: 0;padding-top: 3px;padding-bottom: 3px;">
                        <h5 id="tituloHeaderRelacion" style="margin-left: 10px;margin-top: 5px; ">Tabla Relacional</h5>
                    </div>
                    
                    <div class="card-body tablaModeloBodys">
                        <div class="diseñoTablaGrid" style="height:500px">
                                <div id="myGridRelacion" class="ag-theme-alpine-dark" style="height: 100%"></div>
                        </div>
                    </div>
                </div>
                
            </div>




            <button id="btnPrueba" style="display:none">Prueba</button>
        
        
        
            <div class="firma" style="display: none;">
                <figure>
                    <figcaption class="blockquote-footer">
                Developed by <cite title="Source Title">Alex Carangui</cite>
                </figcaption>
                </figure>   
                
            </div>


        </div>


    <div id="myModal" class="modal">
        <div class="card border-light mb-3 modal-content">
            <div id="'modalHeader" class="card-header d-flex justify-content-between align-items-center">
                <h5 id="tituloHeader">Nuevo</h5>
                <button id="cancelar1" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modalBody" class="card-body justify-content-center align-items-center text-align-center">
                <!--input o texto p-->
                <div id="divBotones" class="d-flex justify-content-center">
                    <button class="btn btnColor modal-button" id="confirmar">Nueva Marca</button>
                    <button class="btn btnColor modal-button" id="cancelar">Cancelar</button>
                </div>
            </div>
        </div>

    </div>


</div>

<!--                                                            ANIMACION DE BOTON                                                -->

<div id="circulo" class="circuloOrig"></div>
<div id="pin" class="wait"></div>


<script src="../js/relaciones/relacionPC.js"></script>
<!--<script src="../js/Validaciones/validacion.producto.js"></script>-->













