<link rel="stylesheet" href="/css/global.css">



<div id="fondo" class="showDelay mt-4" stylea="padding: 10px; border:2px black solid">
    <div class="container">
        <div class="">
            <div class="col-12 col-md-4  mx-auto" stylea="min-width:400px max-width:400px;">
                <div class="card text-white ">
                    <div class="card-header ">Inicio de sesion</div>
                    <div id="datosModeloCard" class="card-body datosModeloBody">
                        <form id="formulario" class="formDatosPlaca" action="/login" method="post">
                            <div class="form-group">
                                <label class="form-label text-info" for="Usuario">Usuario:</label>
                                <div class=" input-group">
                                    <input type="text" id="username" class="form-control form-input" name="username" placeholder="Usuario" 
                                        minlength="1" maxlength="15" style="width: auto" autocomplete="current-username">
                                </div>
                                <div class="invalid-feedback">Usuario incorrecto!</div>
                            </div>

                            <div class="form-group">
                                <label class="form-label mt-2 text-info" for="Contrase単a">Contrase単a:</label>
                                <div class=" input-group">
                                    <input type="password" id="password" class="form-control form-input" name="password" placeholder="Contrase単a" 
                                            minlength="1" maxlength="15" style="width: auto" autocomplete="current-password">
                                </div>
                                <div class="invalid-feedback">Contrase単a incorrecto!</div>
                            </div>

                            <div class="form-group mt-4" style="text-align: center;">
                                <button class="btn btn-success btnHover" style="width:80%" id="btn-Sesion">Iniciar sesion</button>
                            </div>
                        </form>
                            
                        
                    </div>
            
                </div>
            </div>

        </div>
    
        <div class="firma" style="display: none;">
            <figure>
                <figcaption class="blockquote-footer">
            Developed by <cite title="Source Title">Alex Carangui</cite>
            </figcaption>
            </figure>   
            
        </div>


    </div>

</div>


<script src="../js/login.js"></script>