<link rel="stylesheet" href="/css/login.css">



<div id="fondo" class="showDelay mt-4" stylea="padding: 10px; border:2px black solid">
    <div class="container">

        <div class=" wrapper anchoLogin">
            <div class="form-box login">

                <h2>Inicio de sesion</h2>
                
                <form id="formulario" class="formDatosPlaca" action="/login" method="post">
                        <input type="hidden" name="returnTo" value="{{ returnTo }}">
                        <div class="input-box">
                            <input type="text" id="username" name="username" 
                                minlength="1" maxlength="15" autocomplete="current-username" required>
                            <label for="username">Usuario:</label>
                        </div>
                        

                        <div class="input-box">
                            <input type="password" id="password" name="password" 
                                    minlength="1" maxlength="15"  autocomplete="current-password" required>
                            <label for="password">Contraseña:</label>
                        </div>
                        

                    <div class="form-group mt-4" style="text-align: center;">
                        <button class="btn btn-success btnHover"  id="btn-Sesion">Iniciar sesion</button>
                    </div>
                </form>        
                
            </div>
            
        </div>

    
        <div class="firma" style="display: none;">
            <figure>
                <figcaption class="blockquote-footer">
            Developed by <cite title="Source Title">Alex Carangui</cite>
            </figcaption>
            </figure>   
            
        </div>


    </div>

</div>


<script src="../js/login.js"></script>