:root{
    --ancho:200px;
    --minAnchoDatosModelo:625px;
}


/* Estilos para el cuadro modal */
.modal {
    visibility: hidden;
    display: block;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    transition: visibility 0.2s,opacity 0.1s ease-in 0s;
}

.modal.show {
    visibility: visible;
    opacity: 1;
  }

/* Estilos para el contenido del cuadro modal */
.modal-content {
    /*background-color: #414040;*/
    margin: 15% auto;/*
    padding: 20px;*/
    border: 1px solid #505050;
    width: 430px;
    max-width: 500px;
    transition: visibility 0.2s,opacity 0.1s ease-in 0s;
}



/* Estilos para los botones */
.modal-text {
    width: 100%;
    margin: 10px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    justify-self: center;
    
}

.modal-button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 6px;
    /*background-color: #2195f3a4;*/
    width: 180px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    
}

.modal-button-new {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.modal-text:hover {
    cursor: text;
}

.modal-button:hover {
    background-color: #0b7dda;
}



.table-info-selected {
    background-color: blue;
  }




.showDelay2{
    visibility: hidden;
    position: relative;
    opacity: 0;
    height: 0;
    transition: visibility 0s,opacity 0.5s ease-in-out 0.1s;
    
}


.showNow2{
    visibility: visible;
    opacity: 1;
}


.datosModeloBody{
    height: 625px;
    
}

.tablaModeloBody{
    height: 80vh;
    min-height: var(--minAnchoDatosModelo);
}

.diseñoTablaGrid{
    max-width: 98%;
    margin-left:auto;
    margin-right:auto;
}

/* Se agrega el scroll a la tabla */
.tabla-con-scroll {
    height: 100%;
    overflow: auto;
  }


  thead tr {
    position: sticky;
    z-index: 2;
    top: 0;
    background-color: #444444;
    padding-top: 0;
  }

.texto-blanco{
    color:white;
}


/*--------------------------------------TABLAS --------------------*/

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border: 1.4px solid #6c00bd;
    border-radius: 50%;
    text-align: center;
    font-size: 1rem;
    font-family: sans-serif;
    margin-left: .5rem;
}



thead th {
    position: sticky;
    top: 0;
    left: 0;
    cursor: pointer;
}

















  /*//--------------------------------Animaciones*/

.cambio-tamañoSel {
    border-radius: 20px;
    transform: scale(1.01);
    transition: transform 0.2s ease-in-out;
  }

  .cambio-tamañoSel2 {
    
    transform: scale(1.01);
    transition: transform 0.2s ease-in-out;
    border-radius: 50%;
  }


.cambio-tamaño{
    border-radius: 20px;
    transform: scale(1.01);
    transition: transform 0.2s ease-in-out 0.4s;
}

.cambioColor{
    animation-name: filaActualizada;
    animation-duration: 1.8s;
    color: white;
}

@keyframes filaActualizada{
    0%{
        background-color: #00BC8C;
    }35%{
        background-color: #00BC8C;
    }100%{
        background-color: #224865e8;
    }

}



/* ANIMACION DE BOTON */


  .circuloOrig {
    position: fixed;
    transition: all 0.3s ease-out;
    top: calc(100% + 50px); /* Posición final al final del eje vertical */
    left: 50%; /* Centrar horizontalmente */
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #3E59F3;
    z-index: 2;
  }


  .circuloAnim {
    position: fixed;
    transition: all 0.3s ease-out;
    border-radius: 5px;
    border: 1px solid #505050;
    background-color: #414040;
    width: 10px;
    height: 10px;
    top: 50%; /* Posición final al final del eje vertical */
    left: 50%; /* Centrar horizontalmente */
    
    z-index: 2;
    }
  

    .toastColorSuccess{
        background: radial-gradient(ellipse, #00b09b, #00b09bde)  
    }

    .toastColorError{
        background: radial-gradient(ellipse, #db2f2f, #db2f2fe1)  
    }






    /*------------------------------RESPONSIVE-------------*/
    .orientacionDivs {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      
    


    /*cuando es min-height la condicion es height-actual > 1080px*/
    /*cuando es max-height la condicion es height-actual < 1080px*/

    /* Si es mas alto que 1000px y mas ancho que 1000px*/
    @media (min-height: 1000px) and (min-width: 1000px) {
        .datosModeloBody{
            height: 680px;
        }
    }

    /* Si es menos alto que 1000px independientemente del ancho */
    @media (max-height: 1000px){
        .orientacionDivs {
            flex-direction: row;
          }
  
          .orientacionDivs .elementoOrientacion{
              width: 100%;
              padding-left: 2px;
              padding-right: 2px;
  
          }
    }

    /* Si es menos alto que 1000px y mas ancho que 1000px*/
    @media (max-height: 1000px) and (min-width: 1000px) {
        .datosModeloBody{
            height: 605px;
        }
    }


    .orientacionDivsBotones{
        display: flex; 
        justify-content: center;
        flex-direction: row;
    }
    
    .orientacionDivsBotones .btn{
        width: 100%;
    }


    /* Si es mas alto que 1000px y menos ancho que 1000px*/
    @media (min-height: 1000px) and (max-width: 1000px) {
        .orientacionDivsBotones {
            flex-direction: column;
          }

        .orientacionDivsBotones .btn{
            margin-top: 2px;
            margin-bottom: 2px;
        }

        .datosModeloBody{
            height:740px;
        }
    }

    /* Si es menos alto que 1000px y menos ancho que 1000px*/
    @media (max-height: 1000px) and (max-width: 1000px) {
        .datosModeloBody{
            height: 620px;
        }
    }
