:root{
    --ancho:200px;
    --minAnchoDatosModelo:625px;
}


.datosModeloBody{
    height: auto;
    
}

.formDatosModelo{
    /*
    background: #363636;
    border: 2px solid #333232;
    */
    background: #3a3939;
    border: 2px solid #3f3e3e;
    border-radius:6px;
    margin-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
}

.tablaModeloBody{
    height: 80vh;
    min-height: var(--minAnchoDatosModelo);
}

.diseñoTablaGrid{
    max-width: 98%;
    margin-left:auto;
    margin-right:auto;
}

/* Se agrega el scroll a la tabla */
.tabla-con-scroll {
    height: 100%;
    /*height: 500px;*/
    overflow: auto;
  }

/*
  thead tr {
    position: sticky;
    z-index: 2;
    top: 0;
    background-color: #444444;
    padding-top: 0;
  }

.texto-blanco{
    color:white;
}
*/


/*--------------------------------------TABLAS --------------------*/
/*
thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border: 1.4px solid #6c00bd;
    border-radius: 50%;
    text-align: center;
    font-size: 1rem;
    font-family: sans-serif;
    margin-left: .5rem;
}



thead th {
    position: sticky;
    top: 0;
    left: 0;
    cursor: pointer;
}



*/

.hidden {
    display: none;
  }











  /*//--------------------------------Animaciones*/
/*
.cambio-tamañoSel {
    border-radius: 20px;
    transform: scale(1.01);
    transition: transform 0.2s ease-in-out;
  }

  .cambio-tamañoSel2 {
    
    transform: scale(1.01);
    transition: transform 0.2s ease-in-out;
    border-radius: 50%;
  }


.cambio-tamaño{
    border-radius: 20px;
    transform: scale(1.01);
    transition: transform 0.2s ease-in-out 0.4s;
}
*/




    /*------------------------------RESPONSIVE-------------*/
    .orientacionDivs {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      
    


    /*cuando es min-height la condicion es height-actual > 1080px*/
    /*cuando es max-height la condicion es height-actual < 1080px*/

    /* Si es mas alto que 1000px y mas ancho que 1000px*/
    @media (min-height: 1000px) and (min-width: 1000px) {

    }

    /* Si es menos alto que 1000px independientemente del ancho */
    @media (max-height: 1000px){
        .orientacionDivs {
            flex-direction: row;
          }
  
          .orientacionDivs .elementoOrientacion{
              width: 100%;
              padding-left: 2px;
              padding-right: 2px;
  
          }
    }

    /* Si es menos alto que 1000px y mas ancho que 1000px*/
    @media (max-height: 1000px) and (min-width: 1000px) {

    }


    .orientacionDivsBotones{
        display: flex; 
        justify-content: center;
        flex-direction: row;
    }
    
    .orientacionDivsBotones .btn{
        width: 100%;
    }


    /* Si es mas alto que 1000px y menos ancho que 1000px*/
    @media (min-height: 1000px) and (max-width: 1000px) {
        .orientacionDivsBotones {
            flex-direction: column;
          }

        .orientacionDivsBotones .btn{
            margin-top: 2px;
            margin-bottom: 2px;
        }


    }

    /* Si es menos alto que 1000px y menos ancho que 1000px*/
    @media (max-height: 1000px) and (max-width: 1000px) {
        
    }
