:root{
    --color1:#a53028;
    --color2:#50201d;
    /*--borderColorGroup:#7c259e;*/
    --colorHeaderCards: #9c342c;
    --colorBodyCards: #5c1b1652;
  }
  
  .labelsColor{
    color: white;
  }

  .btnColor{
    color:white;
    background: var(--color1);
    border-color: var(--color2);
  }

  .btnColor:hover {
    background-color: var(--color2) !important;/* cambia a color rojo al hacer hover */
  }

  .form-check-input:checked {
      background-color: var(--color1);
      border-color: var(--color2);
    }
  

    .formGroupBorder{
        border: 1px dashed var(--borderColorGroup);
    }
  
  
  
    .card .card-header {
      background: var(--colorHeaderCards);

    }
  
    .card .card-body {
      background: transparent;
      background-color: var(--colorBodyCards);
      border-radius: 0 0 5px 5px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      backdrop-filter: blur(10px);
    }

    .card{
      background: transparent;
    }
  
    
/*                                               FONDO                    */

body{
  /*background: url('../img/black.jfif');*/
  background: url('../img/red2.jfif');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

  /*                                               TABLA AG GRID                    */
  
  .ag-theme-alpine-dark .ag-row-selected {
    /*background-color: var(--color1);*/
  }

  .ag-theme-alpine-dark .ag-row-hover {
    /*background-color: var(--color2);*/
  }

  .datosModeloBody{
    height: auto;
    
  }

  

  .tablaModeloBody{
    height: 698px;
    min-height: var(--minAnchoDatosModelo);
    
  }
  
  .diseñoTablaGrid{
    max-width: 98%;
    margin-left:auto;
    margin-right:auto;
  }
  
  /* Se agrega el scroll a la tabla */
  .tabla-con-scroll {
    height: 100%;
    /*height: 500px;*/
    overflow: auto;
  }



/*                                               MODAL                    */

  .modal-content {
    background-color: var(--colorBodyCards) !important;
  }


  .circuloOrig {
    background-color: var(--colorBodyCards) !important;
  }