@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

:root{
    --variable: "MENU";
}

/* Transiciones al desplegar Vehiculos*/

.showDelay{
    visibility: hidden;
    position: relative;
    opacity: 0;
    height: 0;
    transition: visibility 0s,opacity 0.5s ease-in-out 0.1s;
    
}


.showNow{
    visibility: visible;
    opacity: 1;
}