

<div id="idNavigation">
    <nav id="idNavPrincipal" class="navPrincipal">
        <a id="idA1" class="item1" href="/agentes">Agentes</a>
        <a id="idA1" class="item2" href="/vehiculos">Vehiculos</a>
        <a id="idA1" class="item3" href="/productos">Productos</a>
        <a id="idA1" class="item4" href="/ventas">Ventas</a>
        <a id="idA1" class="item5" href="/pedidos">Pedidos</a>
        <a id="idA1" class="item6" href="/pagos">Pagos</a>
        <div class="animation start-item"></div>
    </nav>
</div>


<script>
        
</script>