<link rel="stylesheet" href="/css/global.css">
<link rel="stylesheet" href="/css/proveedor.css">



<div id="fondo" class="showDelay mt-4" stylea="padding: 10px; border:2px black solid">
    <div class="container">
        <div class="row ">
            <div class="col-12 col-md-4" >
                <div class="card text-white ">
                    <div class="card-header ">Datos del Proveedor</div>
                    <div id="datosModeloCard" class="card-body datosModeloBody">
                        <form id="formulario" class="formDatosProveedor" ></form>
                            <label id="datosPersonalLabel" class="form-label labelsColor" for="inputValid">Datos personales</label>
                            <div class="form-group formGroupBorder">
                                <!-- Identificacion -->    
                                <div class="form-group mt-2">
                                    <label class="form-label labelsColor" for="inputValid">Ruc/Cédula:</label>
                                    <div class=" input-group">
                                        <select class="form-select " id="comboTipo" style="width: 20%">
                                            <option value="0">No aplica</option>
                                        </select>
                                        <input type="text" id="Datos-Identificacion" class="form-control form-input" name="Identificacion" 
                                            placeholder="Identificacion" minlength="1"maxlength="15" style="width: auto">
                                    </div>
                                        <div class="invalid-feedback">Id incorrecto!</div>
                                </div>
                                <!-- Proveedor -->    
                                <div class="form-group mt-2">
                                    <label id="proveedorLabel" class="form-label labelsColor" for="inputValid">Proveedor</label>
                                    <input type="text" id="Datos-Proveedor" class="form-control form-input" name="Proveedor" placeholder="Empresa" minlength="1"maxlength="200">
                                    <div class="invalid-feedback">Texto incorrecto!</div>
                                </div>
                                <!-- Representante -->    
                                <div class="form-group mt-2">
                                    <label id="representanteLabel" class="form-label labelsColor" for="inputValid">Representante</label>
                                    <input type="text" id="Datos-Representante" class="form-control form-input" name="Representante" placeholder="Representante" minlength="1"maxlength="200">
                                    <div class="invalid-feedback">Texto incorrecto!</div>
                                </div>
                                
                            </div>
                            
                            
                            

                            <!-- Datos de cuenta bancaria -->
                            <label id="datosCuentaLabel" class="form-label mt-3 labelsColor" for="inputValid">Datos de cuenta</label>
                            <div class="form-group formGroupBorder">
                                <!-- Cuenta1 -->
                                <div class="mt-2">
                                    <div class="input-group">
                                            <div class="form-check form-switch ">
                                                <input class="form-check-input" type="checkbox" id="tieneCuenta1" >
                                                <label id="tieneCuenta1Label"class="form-check-label" for="flexSwitchCheckDefault">Cuenta Nº1</label>
                                            </div>
                                    </div>

                                    <div id="formCuenta1" class="form-group mt-2" style="display: none;">
                                        <div class="form-group">
                                            <label id="cuenta1_nomLabel" class="form-label labelsColor" for="inputValid">Beneficiario:</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control form-input" name="Cuenta1-Nombre" id="Datos-Cuenta1-Nombre" placeholder="a nombre de..." minlength="1"maxlength="100">
                                            </div>
                                            <div class="invalid-feedback">Nombre incorrecto!</div>
                                        </div>
                                        <div class="form-group">
                                            <label id="cuenta1_numeroLabel" class="form-label mt-2 labelsColor" for="inputValid">Numero:</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control form-input" name="Cuenta1-Numero" id="Datos-Cuenta1-Numero" placeholder="Ingrese la cuenta primaria" minlength="1"maxlength="100">
                                            </div>
                                            <div class="invalid-feedback">Cuenta incorrecta!</div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Cuenta2 -->
                                <div class="mt-2">
                                    <div class="input-group">
                                            <div class="form-check form-switch ">
                                                <input class="form-check-input" type="checkbox" id="tieneCuenta2" >
                                                <label id="tieneCuenta2Label"class="form-check-label" for="flexSwitchCheckDefault">Cuenta Nº2</label>
                                            </div>
                                    </div>

                                    <div id="formCuenta2" class="form-group mt-2" style="display: none;">
                                        <div class="form-group">
                                            <label id="cuenta2_nomLabel" class="form-label labelsColor" for="inputValid">Beneficiario:</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control form-input" name="Cuenta2-Nombre" id="Datos-Cuenta2-Nombre" placeholder="a nombre de..." minlength="1"maxlength="100">
                                            </div>
                                            <div class="invalid-feedback">Nombre incorrecto!</div>
                                        </div>
                                        <div class="form-group">
                                            <label id="cuenta2_numeroLabel" class="form-label mt-2 labelsColor" for="inputValid">Numero:</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control form-input" name="Cuenta2-Numero" id="Datos-Cuenta2-Numero" placeholder="Ingrese la cuenta secundaria" minlength="1"maxlength="100">
                                            </div>
                                            <div class="invalid-feedback">Cuenta incorrecta!</div>
                                        </div>
                                    </div>
                                </div>

                                

                                
                            </div>

                            <!-- CORREO y TELEFONOS -->
                            <label id="empresaApellidoLabel" class="form-label mt-3 labelsColor" for="inputValid">Datos de contacto</label>
                            <div class="form-group formGroupBorder">
                                <div class="mt-2">
                                    <div class="input-group">
                                            <div class="form-check form-switch ">
                                                <input class="form-check-input" type="checkbox" id="tieneDireccion" >
                                                <label id="tieneDireccionLabel"class="form-check-label" for="flexSwitchCheckDefault">Direccion</label>
                                            </div>
                                    </div>

                                    <div id="formDireccion" class="form-group mt-2" style="display: none;">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" class="form-control form-input" name="Direccion" id="Datos-Direccion" placeholder="Ingresa la dirección" minlength="1"maxlength="100">
                                            </div>
                                            <div class="invalid-feedback">Dirección incorrecta!</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-2">
                                    <div class="input-group">
                                            <div class="form-check form-switch ">
                                                <input class="form-check-input" type="checkbox" id="tieneCorreo" >
                                                <label id="tieneCorreoLabel"class="form-check-label" for="flexSwitchCheckDefault">Correo</label>
                                            </div>
                                    </div>

                                    <div id="formCorreo" class="form-group mt-2" style="display: none;">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" class="form-control form-input" name="Correo" id="Datos-Correo" placeholder="Ingresa el correo electronico" minlength="1"maxlength="100">
                                                <button class="btn btnColor" type="button" id="btn-CopyMail" >
                                                        <i class="fa-solid fa-copy"></i>
                                                </button>
                                            </div>
                                            <div class="invalid-feedback">Correo incorrecta!</div>
                                        </div>
                                    </div>
                                </div>


                                <label for="" class="form-label mt-3 ">Telefonos:</label>

                                <div class="form-group ">
                                    <div class="">
                                        <div class="input-group">
                                                <div class="form-check form-switch ">
                                                    <input class="form-check-input" type="checkbox" id="tieneTelefono1" >
                                                    <label id="tieneTelefono1Label"class="form-check-label" for="flexSwitchCheckDefault">Telefono 1</label>
                                                </div>
                                        </div>

                                        <div id="formTelefono1" class="form-group mt-2" style="display: none;">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="text" id="Datos-Telefono1" class="form-control form-input" name="Telefono1" placeholder="Celular" minlength="1"maxlength="30">
                                                    <button class="btn btn-success" type="button" id="btn-Ws1" >
                                                        <i class="fa-brands fa-whatsapp fa-beat-fade"></i>
                                                    </button>
                                                </div>
                                                <div class="invalid-feedback">Telefono incorrecto!</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mt-2">
                                        <div class="input-group">
                                                <div class="form-check form-switch mt-2">
                                                    <input class="form-check-input" type="checkbox" id="tieneTelefono2" >
                                                    <label id="tieneTelefono2Label"class="form-check-label" for="flexSwitchCheckDefault">Telefono 2</label>
                                                </div>
                                        </div>

                                        <div id="formTelefono2" class="form-group mt-2" style="display: none;">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="text" id="Datos-Telefono2" class="form-control form-input" name="Telefono2" placeholder="Oficina" minlength="1"maxlength="30">
                                                    <button class="btn btn-success" type="button" id="btn-Ws2" >
                                                        <i class="fa-brands fa-whatsapp fa-beat-fade"></i>
                                                    </button>
                                                </div>
                                                <div class="invalid-feedback">Telefono incorrecto!</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mt-2">
                                        <div class="input-group">
                                                <div class="form-check form-switch mt-2">
                                                    <input class="form-check-input" type="checkbox" id="tieneTelefono3" >
                                                    <label id="tieneTelefono3Label"class="form-check-label" for="flexSwitchCheckDefault">Telefono 3</label>
                                                </div>
                                        </div>

                                        <div id="formTelefono3" class="form-group mt-2" style="display: none;">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="text" id="Datos-Telefono3" class="form-control form-input" name="Telefono3" placeholder="Casa" minlength="1"maxlength="30">
                                                    <button class="btn btn-success" type="button" id="btn-Ws3" >
                                                        <i class="fa-brands fa-whatsapp fa-beat-fade"></i>
                                                    </button>
                                                </div>
                                                <div class="invalid-feedback">Telefono incorrecto!</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                

                                
                            </div>

                            <label for="exampleInputEmail1" class="form-label mt-2 labelsColor">Observación</label>
                            <div class="form-group formGroupBorder">
                                <div class="input-group">
                                        <div class="form-check form-switch mt-2">
                                            <input class="form-check-input" type="checkbox" id="Datos-NoObs" checked="">
                                            <label id="noTieneObsLabel"class="form-check-label" for="flexSwitchCheckDefault">No tiene observaciones</label>
                                        </div>
                                </div>

                                <div id="formObs" class="input-group" style="display: none;">
                                    <fieldset>
                                        <textarea class="form-control form-input" id="Datos-Obs" rows="5" cols="50" placeholder="Observaciones..." name="Observacion" minlength="1" maxlength="200"></textarea>
                                        <div class="invalid-feedback">Formato incorrecto!</div>
                                    </fieldset>                                        
                                </div>
                            </div>

                            <div class="form-group" style="padding-top: 10px; text-align: center;">
                                <button class="btn btnColor " style="width:100%;" id="btn-Guardar">Guardar cambios</button>
                            </div>


                            <div class="form-group" style="padding-top: 20px; text-align: center;">
                                <button class="btn btn-outline-success  btnHover2" style="margin-left: 2px; width:100%" id="btn-Nuevo">Nuevo</button>
                            </div>

                        </form>
                            
                        
                    </div>
            
                </div>
            </div>

            <!-------------------------------TABLAS------------------------------------>
            <!------------------------------------------------------------------------->
            <div class="col-12 col-md-8">
                <div class="card text-white ">
                    <div class="card-header">Tabla de Proveedores</div>
                        <div class="card-body tablaModeloBody">
                            <div id="idTabla" class="tabla-con-scroll" >
                                <div class="diseñoTablaGrid" style="height:100%">
                                        <div id="myGrid" class="ag-theme-alpine-dark" style="height: 100%"></div>
                                </div>
                                
                                
                            </div>
                        </div>
                    
                    </div>
                </div>
                
            </div>


            <button id="btnPrueba" stylea="display:none">Prueba</button>

        </div>
    
    
    
        <div class="firma" style="display: none;">
            <figure>
                <figcaption class="blockquote-footer">
            Developed by <cite title="Source Title">Alex Carangui</cite>
            </figcaption>
            </figure>   
            
        </div>


    </div>


    <div id="myModal" class="modal">
        <div class="card border-light mb-3 modal-content">
            <div id="'modalHeader" class="card-header d-flex justify-content-between align-items-center">
                <h5 id="tituloHeader">Nuevo</h5>
                <button id="cancelar1" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modalBody" class="card-body justify-content-center align-items-center text-align-center">
                <!--input o texto p-->
                <div id="divBotones" class="d-flex justify-content-center">
                    <button class="btn btnColor modal-button" id="confirmar">Nueva Marca</button>
                    <button class="btn btnColor modal-button" id="cancelar">Cancelar</button>
                </div>
            </div>
        </div>

    </div>


</div>

<!--                                                            ANIMACION DE BOTON                                                -->

<div id="circulo" class="circuloOrig"></div>
<div id="pin" class="wait"></div>



<script src="../js/pedidos/proveedores.js"></script>
<script src="../js/Validaciones/validacion.proveedor.js"></script>













