<div style="padding: 10px; border:2px black solid">
    <h1>Bienvenido</h1>
    <form id="formulario" class="formLogout" action="/logout" method="post">
        

        <div class="form-group mt-4" style="text-align: center;">
            <button class="btn btn-success btnHover" style="width:80%" id="btn-Sesion">Cerrar sesion</button>
        </div>
    </form>

</div>

