

<link rel="stylesheet" href="/css/styleCombo.css">
<link rel="stylesheet" href="/css/auto.css">
    
    <div id="comboVehiculos">
        <nav id="subMenu" class="subMenu">
        <div class="textoSeleccionado" style="z-index: 0;">Modelos</div>
        <ul>
            <li><a id="si"  href="../vehiculos">Placas</a></li>
            <li><a id="si" class="active" href="../vehiculos/autos">Modelos</a></li>
        </ul>
    </nav>
    </div>
    <div class="showDelay" id="contVehiculos2">{{> vehiculos/placas}}</div>
    <div class="showDelay" id="contVehiculos1">{{> vehiculos/modelos}}</div>





<script>
    document.querySelector('.animation').classList.add("start-item2");
</script>