<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elysium 4</title>
    <!--Google fonts-->
    {{!-- Bootsrap --}}
    <link rel="stylesheet" href="/css/tema/darkly/bootstrap.min.css">
    <link rel="stylesheet" href="/css/toastify.css">
    <link rel="stylesheet" href="/css/styleNavPrincipal.css">
    <!-- 
        <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
     -->
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-enterprise/dist/ag-grid-enterprise.min.noStyle.js"></script>
    <link rel="stylesheet"
     href="https://cdn.jsdelivr.net/npm/ag-grid-enterprise/styles/ag-grid.css"/>
   <!-- Include the theme CSS, only need to import the theme you are going to use -->
   <link rel="stylesheet"
     href="https://cdn.jsdelivr.net/npm/ag-grid-enterprise/styles/ag-theme-alpine.css"/>

    <!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/e742d90875.js" crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    
    {{> navigation}}

    {{#if signupMessage}}
    <div class="alert alert-danger">{{signupMessage}}</div>
    {{/if}}

    {{#if signinMessage}}
    <div class="alert alert-danger">{{signinMessage}}</div>
    {{/if}}

    {{{body}}}

    <script src="../js/Lib_JS/toastify.js"></script>
    
    <script src="../js/navigation.js"></script>


    <!--
    <div class="firma">
        <figure>
            <figcaption class="blockquote-footer">
        Developed by <cite title="Source Title">Alex Carangui</cite>
        </figcaption>
        </figure>   
        
    </div>
    
    -->

    
</body>
</html>