<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elysium 4</title>
    <!--Google fonts-->
    {{!-- Bootsrap --}}
    <link rel="stylesheet" href="/css/bootstrap2.min.css">
    <link rel="stylesheet" href="/css/toastify.css">
    <link rel="stylesheet" href="/css/styleNavPrincipal.css">
    <!-- 
        <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
     -->
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-enterprise/dist/ag-grid-enterprise.min.noStyle.js"></script>
    <link rel="stylesheet"
     href="https://cdn.jsdelivr.net/npm/ag-grid-enterprise/styles/ag-grid.css"/>
   <!-- Include the theme CSS, only need to import the theme you are going to use -->
   <link rel="stylesheet"
     href="https://cdn.jsdelivr.net/npm/ag-grid-enterprise/styles/ag-theme-alpine.css"/>

    <!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
</head>
<body>
    
    {{> navigation}}

    {{{body}}}
    <script src="js/Lib_JS/toastify.js"></script>
    <script src="js/Validaciones/validacion.js"></script>
    <script src="js/vehiculos.js"></script>
    <script src="js/agentes.js"></script>
    <script src="js/navigation.js"></script>



    <!--

        <script type="module" src="js\DB\controllers\products.controller.js"></script>
        <script type="module" src="js/DB/controllers/products.controller.js"></script>
        NO FUNCIONA IMPORT DENTROS NO PERMITE!

    -->

    
</body>
</html>