

<link rel="stylesheet" href="/css/styleCombo.css">
<link rel="stylesheet" href="/css/global.css">
<link rel="stylesheet" href="/css/auto.css">

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <a id="excepcion" class="nav-link" data-bs-toggle="tab" href="/vehiculos/placas" tabindex="-1" aria-selected="false" role="tab">Placas</a>
  </li>
  <li class="nav-item" role="presentation">
    <a id="excepcion" class="nav-link active" href="#" data-bs-toggle="tab" aria-selected="true"  role="tab">Modelos</a>
  </li>
  
</ul>


<div id="fondo" class="showDelay mt-2" stylea="padding: 10px; border:2px black solid">
    <div class="container">
        <div class="row ">
            <div class="col-12 col-md-4" >
                <div class="card text-white ">
                    <div class="card-header">Datos del Modelo</div>
                    <div id="datosModeloCard" class="card-body datosModeloBody">
                        
                            <div class="form-group">
                                <label id="labelMarca" for="exampleSelect1" class="form-label">Marca:</label>
                                <div class="input-group">
                                    <select class="form-select " id="comboMarca" >
                                        <option value="0">No aplica</option>
                                    </select>
                                    <button class="btn btn-info" type="button" id="btn-Agregar" style="z-index: 0;">Agregar</button>
                                </div>
                            </div>
                            
                            <div id="formTextAlias" class="form-group hidden" >
                                <fieldset>
                                    <label class="form-label mt-2" for="inputValid">Alias(Marca):</label>
                                    <div class="input-group">
                                        <input type="text" id="Datos-Alias" class="form-control form-input" name="Alias" placeholder="Alias" minlength="1"maxlength="60">
                                        <button class="btn btn-info " type="button" id="btn-GuardarAlias" style="z-index: 0;">Guardar</button>
                                    </div>
                                    <div class="invalid-feedback">Alias incorrecto!</div>
                                </fieldset>
                                
                            </div>
                            <div id="formComboModelo" class="form-group" title="clic derecho para editar" >
                                <label for="exampleSelect1" class="form-label mt-2">Modelo:</label>
                                <div class="input-group">
                                    <select class="form-select" id="comboModelo">
                                        <option value="0">No aplica</option>
                                    </select>
                                </div>
                            </div>
                            <div id="formTextModelo" class="form-group" title="clic derecho para regresar" style="display: none;">
                                <fieldset>
                                    <label class="form-label mt-2" for="inputValid">Modelo (editable):</label>
                                    <div class="input-group">
                                        <input type="text" id="Datos-Modelo" class="form-control form-input" name="Modelo" placeholder="Modelo" maxlength="60">
                                        <button class="btn btn-info " type="button" id="btn-GuardarNomAuto" style="z-index: 0;">Guardar</button>
                                    </div>
                                    <div class="invalid-feedback">Modelo incorrecto!</div>
                                </fieldset>
                            </div>

                        <form id="formulario" class="formDatosModelo" >

                            <div class="form-group orientacionDivs">

                                <div class="elementoOrientacion">
                                    <fieldset>
                                        <label class="form-label mt-2" for="inputValid">Año:</label>
                                        <input type="number" id="Datos-Año" class="form-control form-input" name="Año" placeholder="Año" min="1900" max="2050" maxlength="4" >
                                    </fieldset>
                                    <div class="invalid-feedback">Año incorrecto!</div>
                                </div>
                                <div class="elementoOrientacion">
                                    <fieldset>
                                        <label class="form-label mt-2" for="inputValid">Cilindraje:</label>
                                        <input type="number" step="0.1" id="Datos-Cilindraje" class="form-control form-input" name="Cilindraje" placeholder="Cilindraje" min="0" max="10" maxlength="3">
                                    </fieldset>
                                    <div class="invalid-feedback">Cilindraje incorrecto!</div>
                                </div>

                            </div>


                            <div class="form-group row" >
                                <label class="form-label mt-2" for="inputValid">Tipo de combustible:</label>
                                <div class="form-group btn-group" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked="">
                                    <label class="btn btn-outline-info" for="btnradio1">Gas.</label>
                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" >
                                    <label class="btn btn-outline-info" for="btnradio2">Diesel</label>
                                </div>
                            </div>

                            <div class="form-group" style="padding-top: 4px; ">
                                <label class="form-label mt-2" for="inputValid">Capacidad de aceite:</label>
                                <div style="border: 2px solid rgba(63, 67, 77, 0.774); border-radius:6px; padding:4px;">
                                    <div class="" style="display: flex; justify-content: center; align-items:center">
                                        <label class="form-label col-6" for="inputValid"> Cap. Motor:</label>
                                        <div class="col-6">
                                            <input type="number" step="1" style="text-align:center;" id="Datos-CMotor" class="form-control form-input" name="CapMotor" placeholder="(Litros)" min="0" max="20">
                                        </div>
                                        
                                    </div>
                                    <div class="" style="display: flex; justify-content: center; align-items:center; margin-top:4px;">
                                        <label class="form-label col-6" for="inputValid"> Cap. Caja:</label>
                                        <div class="col-6">
                                            <input type="number" step="1" style="text-align:center;" id="Datos-CCaja" class="form-control form-input" name="CapCaja" placeholder="(Litros)" min="0" max="20">
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="form-group" style="padding-top: 10px; text-align: center;">
                                <button class="btn btn-info  btnHover1" style="width:100%;" id="btn-Guardar">Guardar cambios</button>
                            </div>
                        </form>
                            <div class="form-group" style="padding-top: 20px;">                        
                                    <div class="orientacionDivsBotones" >
                                        
                                        <button class="btn btn-outline-success  btnHover2" style="margin-left: 2px;" id="btn-Nuevo">Nuevo</button>
                                    </div>
                            </div>
                        
                    </div>
            
                </div>
            </div>

            <!-------------------------------TABLAS------------------------------------>
            <!------------------------------------------------------------------------->
            <div class="col-12 col-md-8">
                <div class="card text-white ">
                    <div class="card-header">Tabla de Modelos</div>
                        <div class="card-body tablaModeloBody">
                            <div id="idTabla" class="tabla-con-scroll" >
                                <div class="diseñoTablaGrid" style="height:100%">
                                        <div id="myGrid" class="ag-theme-alpine-dark" style="height: 100%"></div>
                                </div>
                                
                                
                            </div>
                        </div>
                    
                    </div>
                </div>
            
            </div>
            <button id="btnPrueba" style="display:none">Prueba</button>

        </div>
    </div>


    <div id="myModal" class="modal">
        <div class="card border-light mb-3 modal-content">
            <div id="'modalHeader" class="card-header d-flex justify-content-between align-items-center">
                <h5 id="tituloHeader">Nuevo</h5>
                <button id="cancelar1" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modalBody" class="card-body justify-content-center align-items-center text-align-center">
                <!--input o texto p-->
                <div id="divBotones" class="d-flex justify-content-center">
                    <button value="" class="btn btn-info modal-button" id="confirmar">Nueva Marca</button>
                    <button class="btn btn-info modal-button" id="cancelar">Cancelar</button>
                </div>
            </div>
        </div>
    </div>


</div>

<!-- ANIMACION DE BOTON                                                       -->

<div id="circulo" class="circuloOrig"></div>
<div id="pin" class="wait"></div>


<script src="../js/vehiculos.js"></script>
<script src="../js/Validaciones/validacion.modelo.js"></script>